# Python
__pycache__/
*.pyc
.venv/
.env
.pyinstaller-cache/
build/
dist/
*.log
*.DS_Store

# Models & Data
models/
transcripts/
training_data/
chat_history.json

# Rust GUI
tinyllama_gui/target/
tinyllama_gui/Cargo.lock

# Electron GUI
tinyllama_gui/release/

# IDE
.vscode/
.idea/

# Misc
.pyinstaller-cache/
cpp_gui/build/
/node_modules/
/dist/
tinyllama_gui/dist/
tinyllama_gui/build/
tinyllama_gui/node_modules/